<EditForm EditContext="@editContext" @onreset="HandleReset" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <div class="card border-info">
        <div class="card-header">
            Add department
        </div>
        <div class="card-body">
            <label>
                Name:
                <InputText @bind-Value="department.Name" class="form-control" />
            </label>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</EditForm>
