@inject NotifierService Notifier
@implements IDisposable



@foreach (var value in Notifier.ValuesList)
{
    <p>@value</p>
}

@code {

    public async Task OnNotify()
    {
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    protected override void OnInitialized()
    {
        Notifier.Notify += OnNotify;
    }

    public void Dispose()
    {
        Notifier.Notify -= OnNotify;
    }
}
