<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Employees Count</th>
        </tr>
    </thead>
    <tbody>
        @if (loading)
        {
            <tr><td colspan="2" class="text-center"><div class="spinner-border spinner-border-sm" /></td></tr>
        }
        @if (departments != null)
        {
            @foreach (var department in Notifier.DepartmentsList)
            {
                <tr>
                    <td>@department.Name</td>
                    <td>&nbsp;</td>
                </tr>
            }
        }
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @(disablePrevious ? "disabled": "")"><a class="page-link" @onclick="HandlePreviousPage">&laquo;</a></li>
        <li class="page-item @(disableNext ? "disabled": "")"><a class="page-link" disabled="@disablePrevious" @onclick="HandleNextPage">&raquo;</a></li>
    </ul>
</nav>
