<ul class="list-group">
    <li class="list-group-item active">Menu</li>
    <li class="list-group-item">
        <NavLink href="departments" Match="NavLinkMatch.Prefix">Departments</NavLink>
    </li>
    <li class="list-group-item">Employees</li>
    <li class="list-group-item">Clients</li>
    <li class="list-group-item">
        <NavLink href="settings" Match="NavLinkMatch.All">Settings</NavLink>
    </li>
</ul>