@inherits LayoutComponentBase

<PageTitle>EastSeat.ResourceIdea.Web</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <a href="/identity/account/logout" target="_blank">@(context.User.Identity?.Name)</a>
                    <a href="/identity/account/logout" target="_blank">Logout</a>
                </Authorized>
                <NotAuthorized><a href="/identity/account/login" target="_blank">Login</a></NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
