@inherits LayoutComponentBase

<PageTitle>EastSeat.ResourceIdea.Web</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized><a href="/identity/account/login" target="_blank">Login</a></Authorized>
                <Authorized><a href="/identity/account/logout" target="_blank">Logout</a></Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
