<div class="top-row ps-3 navbar bg-dark border-bottom border-body text-light">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="">ResourceIdea</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fa-solid fa-house"></i>&nbsp; Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <i class="fa-solid fa-calendar-days"></i>&nbsp; Planner
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <i class="fa-solid fa-landmark"></i>&nbsp; Clients
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <i class="fa-solid fa-users"></i>&nbsp; Employees
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <i class="fa-solid fa-building"></i>&nbsp; Assets
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <i class="fa-solid fa-screwdriver-wrench"></i>&nbsp; Admin
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
