@page "{id}"
@model ResourceIdea.Pages.Clients.ClientDetailsModel

@{
    ViewData["Title"] = "Client Details";
}

<p>
    <a asp-page="./index" class="btn btn-outline-primary"><i class="fa-solid fa-angles-left"></i> Clients List</a>
</p>
@if (Model.Client is not null)
{
    <div class="row">
        <div class="col-9">
            <form method="post">
                <input type="hidden" asp-for="Client!.ClientId"/>
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="mb-3">
                            <label asp-for="Client!.Name" class="form-label"></label>
                            <input type="text" class="form-control" asp-for="Client!.Name">
                        </div>
                        <div class="mb-1 row">
                            <div class="col-6">
                                <label asp-for="Client!.Address" class="form-label"></label>
                                <input type="text" class="form-control form-control-sm" asp-for="Client!.Address">
                            </div>
                            <div class="col-6">
                                <label asp-for="Client!.Industry" class="form-label"></label>
                                <input type="text" class="form-control form-control-sm" asp-for="Client!.Industry">
                            </div>
                        </div>
                        <div class="mb-0 row">
                            <div class="col-12">
                                <input type="submit" class="btn btn-danger" value="Save Changes">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-3">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">Engagements</a>
                <a href="#" class="list-group-item list-group-item-action">Tasks</a>
                <a href="#" class="list-group-item list-group-item-action">Assignments</a>
                <a href="#" class="list-group-item list-group-item-action">Resources</a>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-primary d-flex align-items-center" role="alert">
        <div>
            Client was not found. Go back to the <a asp-page="./index" class="alert-link">clients list</a>.
        </div>
    </div>
}