@layout SettingsLayout

@page "/departments"
@page "/departments/{id}"

@attribute [Authorize]

@if (Id != null)
{
    <DepartmentDetail />
}
else
{
    <h2>Departments</h2>

    <AddDepartment />
    <br />
    <DepartmentsList />
}
