@layout SettingsLayout

@page "/departments"
@page "/departments/{id}"

@attribute [Authorize]

@if (Id != null)
{
    if (Guid.TryParse(Id, out Guid departmentId))
    {
        <DepartmentDetail DepartmentId="@departmentId" />
    }
    else
    {
        <h3>Department not found</h3>
    }
}
else
{
    <h2>Departments</h2>

    <AddDepartment />
    <br />
    <DepartmentsList />
}
