@layout SettingsLayout
@page "/departments"
@page "/departments/{id}"
@attribute [Authorize]

<h2>Departments</h2>

@if (departmentId != null)
{
    <DepartmentDetail />
}
else
{
    <DepartmentsList />
}
