@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert @(IsErrorMessage ? "alert-danger" : "alert-success") alert-dismissible fade show mt-3" role="alert">
        @ErrorMessage
        <button type="button" class="btn-close" @onclick="@(() => ErrorMessage = null)" aria-label="Close"></button>
    </div>
}

@code {
    [Parameter]
    public string? ErrorMessage { get; set; } = string.Empty;

    [Parameter]
    public bool IsErrorMessage { get; set; } = false;
}