@layout SettingsLayout

@page "/departments/{departmentId}/jobpositions/{jobPositionId}"

<input type="hidden" @bind="jobPosition.DepartmentId" />
<input type="hidden" @bind="jobPosition.HierarchyOrder" />

<form>
    <div class="form-group row">
        <div class="col-sm-8">
            <input type="text" class="form-control form-control-lg" @bind-value="@jobPosition.Title">
        </div>
        <div class="col-sm-2 text-left">
            <button class="btn btn-primary btn-lg" @onclick="@SaveChanges">Save</button>
        </div>
    </div>
</form>
<hr />
