@layout SettingsLayout

@page "/departments/{departmentId}/jobpositions/new"

<h3>New Job Position</h3>
<hr />
<label>
    Title:
    <input @bind="@Title" class="form-control" />
</label>
<button class="btn btn-primary" @onclick="@Save">Save</button>