@page "/departments/new"
@using EastSeat.ResourceIdea.Domain.Types

@layout AdminLayout

@inject IMediator Mediator
@inject NavigationManager NavigationManager

<div class="card text-bg-light mt-1 mb-5">
    <div class="card-body">
        <h5 class="card-title">Add New Department</h5>
    </div>
</div>

<EditForm Model="@command" OnValidSubmit="HandleValidSubmit" FormName="CreateDepartment">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <div class="row mb-1">
            <div class="col-md-6">
                <label for="Name">Department name</label>
                <InputText id="Name" class="form-control" @bind-Value="command.Name" />
                <ValidationMessage For="@(() => command.Name)" />
            </div>
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary btn-sm">Create</button>

</EditForm>

@code {
    private CreateDepartmentCommand command = new();

    private async Task HandleValidSubmit()
    {
        var result = await Mediator.Send(command);
        if (result != null && result.IsSuccess)
        {
            NavigationManager.NavigateTo("/departments");
        }
        else
        {
            // TODO: Display error message on failure.
            // Handle failure (e.g., display error messages)
        }
    }
}
