@page "/departments/new"

@layout AdminLayout

<ResourceIdeaPageTitle Title="Add Department" />

<PageHeader Text="Add Department" />

<NavLink class="btn btn-secondary btn-sm mt-2 mb-2" href="/departments">Back</NavLink>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
        @errorMessage
        <button type="button" class="btn-close" @onclick="@(() => errorMessage = null)" aria-label="Close"></button>
    </div>
}

<EditForm Model="@Command" OnValidSubmit="HandleValidSubmit" FormName="CreateDepartment">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <div class="row mb-1">
            <div class="col-md-6">
                <label for="Name">Department name</label>
                <InputText id="Name" class="form-control" @bind-Value="Command.Name" />
                <ValidationMessage For="@(() => Command.Name)" />
            </div>
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary btn-sm">Create</button>

</EditForm>
