@* ---------------------------------------------------------------------
    File: PageHeader.razor
    Path: src/dev/Web/EastSeat.ResourceIdea.Web/Components/Shared/Cards/PageHeader.razor
    Description: A simple header component for pages.
    --------------------------------------------------------------------- *@

<div class="card mt-1" style="background-color: #D7E8E8;">
    <div class="card-body">
        <h5 class="card-title">@Text</h5>
    </div>
</div>

@code {
    [Parameter]
    public string Text { get; set; } = string.Empty;
}
