@* ---------------------------------------------------------------------
    File: PageHeader.razor
    Path: src/dev/Web/EastSeat.ResourceIdea.Web/Components/Shared/Cards/PageHeader.razor
    Description: A simple header component for pages.
    --------------------------------------------------------------------- *@

<div class="card page-header-card">
    <div class="card-body page-header-body">
        <h5 class="card-title fw-semibold page-header-title">@Text</h5>
    </div>
</div>

@code {
    [Parameter]
    public string Text { get; set; } = string.Empty;
}
