@namespace EastSeat.ResourceIdea.Web.Components.Common

@if (IsVisible)
{
    <div class="alert @CssClass" role="alert">
        <i class="@IconClass"></i> @Text
    </div>
}

@code {
    [Parameter]
    public MessageType Type { get; set; }

    [Parameter]
    public string? Text { get; set; }

    [Parameter]
    public bool IsVisible { get; set; }

    private string CssClass => Type switch
    {
        MessageType.Success => "alert-success",
        MessageType.Info => "alert-info",
        MessageType.Warning => "alert-warning",
        MessageType.Error => "alert-danger",
        _ => string.Empty
    };

    private string IconClass => Type switch
    {
        MessageType.Success => "fa-solid fa-check-circle",
        MessageType.Info => "fa-solid fa-info-circle",
        MessageType.Warning => "fa-solid fa-exclamation-circle",
        MessageType.Error => "fa-solid fa-exclamation-triangle",
        _ => string.Empty
    };
}
