@* ====================================================================================
   File: AddEmployee.razor
   Path: src/dev/Web/EastSeat.ResourceIdea.Web/Components/Pages/Employees/AddEmployee.razor
   Description: Add new employee page
   ====================================================================================*@

@page "/employees/add"
@layout AdminLayout

<ResourceIdeaPageTitle Title="Add Employee" />

<PageHeader Text="Add New Employee" />

@if (!string.IsNullOrEmpty(ReturnView)
  && !string.IsNullOrEmpty(ReturnId)
  && ReturnView.Equals("department-details", StringComparison.OrdinalIgnoreCase))
{
    <NavLink class="btn btn-outline-dark btn-sm mt-2 mb-2" href=@($"/departments/{ReturnId}")>
        <i class="fa-solid fa-chevron-left"></i> Back
    </NavLink>
}
else
{
    <NavLink class="btn btn-outline-dark btn-sm mt-2 mb-2" href=@($"/jobpositions/{JobPositionId}")>
        Job Positions
    </NavLink>
}

<DismissibleAlert ErrorMessage="@errorMessage" IsErrorMessage="@isErrorMessage" />

<EditForm class="mt-2" Model="@Command" OnValidSubmit="HandleValidSubmit">
    <div class="row">
        <div class="col-12">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="firstname">First name</label>
                        <InputText id="firstname" class="form-control" @bind-Value="Command.FirstName" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lastname">Last name</label>
                        <InputText id="lastname" class="form-control" @bind-Value="Command.LastName" />
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="firstname">Email</label>
                        <InputText id="firstname" class="form-control" @bind-Value="Command.Email" />
                    </div>
                </div>
            </div>

            <div class="mt-3">
                <button type="submit" class="btn btn-danger btn-sm">Save</button>
            </div>
        </div>
    </div>
</EditForm>
