@* ====================================================================================
   File: Employees.razor
   Path: src/dev/Web/EastSeat.ResourceIdea.Web/Components/Pages/Employees/Employees.razor
   Description: Employees List Page
   ====================================================================================*@

@page "/employees"
@page "/employees/index"
@inherits EastSeat.ResourceIdea.Web.Components.Base.ResourceIdeaComponentBase

@layout AdminLayout

@using EastSeat.ResourceIdea.Application.Features.Common.ValueObjects
@using EastSeat.ResourceIdea.Domain.Employees.Models
@using EastSeat.ResourceIdea.Web.Components.Shared.Cards
@using EastSeat.ResourceIdea.Web.Components.Shared.Lists

<div class="page-container">
    <PageHeader Text="Employees" />

    <NavLink class="btn btn-outline-dark btn-sm mt-2 mb-2" href="/employees/add" ActiveClass="">
        <i class="fa-solid fa-user-plus"></i> Add Employee
    </NavLink>

    <div class="content-container">
        @if (IsLoadingModelData)
        {
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        }
        else
        {
            <TenantEmployeesList PagedEmployeesList="@TenantEmployees" OnPageChange="HandlePageChangeAsync" />
        }
    </div>
</div>
