@* ====================================================================================
   File: Index.razor
   Path: src/dev/Web/EastSeat.ResourceIdea.Web/Components/Pages/Employees/Index.razor
   Description: Employees List Page
   ====================================================================================*@

@page "/employees"
@page "/employees/index"

@layout AdminLayout

<h3>Employees</h3>

@code {

}
