@page "/"

<PageTitle>ResourceIdea - Home</PageTitle>

<div class="container mt-5">
    <div class="row">
        <CallToActionCard Icon="fa-solid fa-calendar-check" Title="View your schedule" Description="Check your personal schedule and manage your tasks." Link="/your-schedule" ButtonText="View your schedule" />
        <CallToActionCard Icon="fa-solid fa-users" Title="View team's schedule" Description="See what your team is up to and collaborate effectively." Link="/team-schedule" ButtonText="View team's schedule" />
        <CallToActionCard Icon="fa-solid fa-calendar-alt" Title="View schedule for all employees" Description="Get an overview of all resources and employees and their schedules." Link="/all-resources-schedule" ButtonText="View schedule for all resources" />
    </div>
</div>
