@page "/"
@using EastSeat.ResourceIdea.Web.Auth.Models
@using Microsoft.AspNetCore.Authorization

@inject ILogger<Home> Logger

@attribute [Authorize]

<PageTitle>ResourceIdea</PageTitle>

<h3>Landing Page</h3>

@code {

}
