<div class="card border-info">
    <div class="card-header">
        Add department
    </div>
    <div class="card-body">
        <label>
            Name:
            <input @bind="@DepartmentName" class="form-control" />
        </label>
        <button class="btn btn-primary" @onclick="@HandleValidSubmit">Save</button>
    </div>
</div>
