<h4>Job Positions</h4>
<button class="btn btn-primary btn-sm">Add Job Position</button> <br /><br />
<table class="table">
    <tbody>
        <tr>
            <td>
                Job Position 1
            </td>
        </tr>
        <tr>
            <td>
                Job Position 2
            </td>
        </tr>
        <tr>
            <td>
                Job Position 3
            </td>
        </tr>
        <tr>
            <td>
                Job Position 4
            </td>
        </tr>
    </tbody>
</table>