<input type="hidden" @bind="@department.Id" />
<input type="hidden" @bind="@department.Organization" />

<label>
    <input @bind="@department.Name" class="form-control" />
</label>
<button class="btn btn-primary" @onclick="@SaveChanges">Save</button>
<hr />
<div class="row">
    <div class="col-9"></div>
    <div class="col-3">
        <DepartmentJobPositionsList />
    </div>
</div>
