<input type="hidden" @bind="@department.Id" />
<input type="hidden" @bind="@department.Organization" />

<label>
    <input @bind="@department.Name" class="form-control" />
</label>
<button class="btn btn-primary" @onclick="@SaveChanges">Save</button>
<hr />

