@page "/clients/add"

<ResourceIdeaPageTitle Title="Add Client" />

<PageHeader Text="Add New Client" />

<NavLink class="btn btn-outline-dark btn-sm mt-2 mb-2" href="/clients" ActiveClass="">
    <i class="fa fa-chevron-left"></i> Back
</NavLink>

<div class="card">
        <div class="card-header">
            <h5 class="card-title">Client Details</h5>
        </div>
        <EditForm class="card-body" Model="@Command" OnValidSubmit="HandleValidSubmit">
            <div class="row">
                <div class="col-12">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="firstname">Name</label>
                                <InputText id="firstname" class="form-control" @bind-Value="Command.Name" />
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="firstname">City</label>
                                <InputText id="firstname" class="form-control" @bind-Value="Command.City" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="firstname">Name</label>
                                <InputText id="firstname" class="form-control" @bind-Value="Command.Street" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="firstname">Building</label>
                                <InputText id="firstname" class="form-control" @bind-Value="Command.Building" />
                            </div>
                        </div>
                    </div>

                    <div class="mt-3">
                        <button type="submit" class="btn btn-danger btn-sm">Save</button>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
