@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

@if (AuthenticationService.Token != null)
{
    <!-- nav -->
    <nav class="navbar navbar-expand fixed-top navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <NavLink class="navbar-brand" href="" Match="NavLinkMatch.All">ResourceIdea</NavLink>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="">Dashboard</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="settings">Settings</NavLink>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <NavLink href="logout" class="nav-item nav-link">Logout</NavLink>
            </form>
        </div>
    </nav>
}

<div class="container-fluid" id="body-container">
    @Body
</div>