@inherits LayoutComponentBase
@layout MainLayout

<div>
    <div class="row">
        <div class="col-2 mt-1">
            <AdminNavMenu />
        </div>
        <div class="col-10">
            @Body
        </div>
    </div>
</div>
