@model IEnumerable<ResourceIdea.Pages.Clients._ClientAssignmentsModel>

<div class="row">
    <div class="col">
        @if (Model is not null)
        {
            foreach (var item in Model)
            {
                <p>Client has engagement assignments setup.</p>
            }
        }
        else
        {
            <p class="lead">Client has no engagement assignments</p>
        }
    </div>
</div>
