@model IEnumerable<ResourceIdea.Pages.Clients._ClientResourcesModel>

<div class="row">
    <div class="col">
        @if (Model is not null)
        {
            foreach (var item in Model)
            {
                <p>Client has resources assigned engagement tasks.</p>
            }
        }
        else
        {
            <p class="lead">Client has no resources assigned to engagement tasks</p>
        }
    </div>
</div>
