@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-2">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Clients</a>
            <a href="#" class="list-group-item list-group-item-action">Users</a>
            <a href="#" class="list-group-item list-group-item-action">Subscription</a>
        </div>
    </div>
    <div class="col-10 bg-white">
        @RenderBody()
    </div>
</div>