@* -------------------------------------------------------------------------------------
    File: CreateJobPosition.razor
    Path: src/dev/Web/EastSeat.ResourceIdea.Web/Components/Pages/JobPositions/CreateJobPosition.razor
    Description: Create Job Position Page
    ------------------------------------------------------------------------------------ *@

@page "/jobpositions/new"
@layout AdminLayout

<ResourceIdeaPageTitle Title="Create Job Position" />

<PageHeader Text="Create Job Position" />

<NavLink class="btn btn-dark btn-sm mt-2 mb-2" href=@($"/departments/{Department}")>Back</NavLink>

<DismissibleAlert ErrorMessage="@errorMessage" IsErrorMessage="@isErrorMessage" />

<EditForm class="mt-2" Model="@Command" OnValidSubmit="HandleValidSubmit">
    <div class="row">
        <div class="col-6">
            <DataAnnotationsValidator />
            <ValidationSummary />
            
            <!-- Title Field -->
            <div class="form-group">
                <label for="title">Title</label>
                <InputText id="title" class="form-control" @bind-Value="Command.Title" />
            </div>
            
            <!-- Description Field -->
            <div class="form-group mb-2">
                <label for="description">Description</label>
                <InputTextArea id="description" class="form-control" @bind-Value="Command.Description" />
            </div>
            
            <button type="submit" class="btn btn-danger btn-sm">Save</button>
        </div>
    </div>
</EditForm>