@* ---------------------------------------------------------------------------------
    File: Index.razor
    Path: src/dev/Web/EastSeat.ResourceIdea.Web/Components/Pages/JobPositions/Index.razor
    Description: This file contains the Razor component for displaying a list of job positions.
   ---------------------------------------------------------------------------------*@

@page "/jobpositions"
@page "/jobpositions/index"

@layout AdminLayout
@inject IMediator Mediator
@inject IResourceIdeaRequestContext ResourceIdeaRequestContext

<div class="page-container">
    <PageHeader Text="Job Positions" />

    <div class="content-container">
        @if (IsLoadingModelData)
        {
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        }
        else
        {
            <TenantJobPositionsList PagedJobPositionsList="@JobPositions"
                                    OnPageChange="HandlePageChangeAsync" />
        }
    </div>
</div>
