@* ------------------------------------------------------------------------------
    File: AddEngagement.razor
    Path: src/dev/Web/EastSeat.ResourceIdea.Web/Components/Pages/Engagements/AddEngagement.razor
    Description: Add Engagement Page
   ------------------------------------------------------------------------------ *@

@page "/engagements/add"

<ResourceIdeaPageTitle Title="Add Engagement" />

<PageHeader Text="Add Engagement" />

<NavLink class="btn btn-outline-dark btn-sm mt-2 mb-2" href="/engagements" ActiveClass="">
    <i class="fa fa-chevron-left"></i> Back to Engagements
</NavLink>

<div class="alert alert-info mt-3">
    <i class="fa-solid fa-info-circle me-2"></i>
    <strong>Coming Soon!</strong> The engagement creation functionality is not yet implemented. This page is a placeholder for future development.
</div>