@page "/engagements"
@page "/engagements/index"
@inherits ResourceIdeaComponentBase
@using EastSeat.ResourceIdea.Web.Components.Base
@using EastSeat.ResourceIdea.Web.Components.Shared.Modals

<ResourceIdeaPageTitle Title="Engagements" />

<div class="page-container">
    <PageHeader Text="Engagements" />

    <button type="button" class="btn btn-outline-dark btn-sm mt-2 mb-2" @onclick="ShowAddEngagementModal">
        <i class="fa-solid fa-plus"></i> Add Engagement
    </button>

    <div class="content-container">
        @if (IsLoadingPage)
        {
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        }
        else
        {
            <TenantEngagementsList
                PagedEngagementsList="@TenantEngagements"
                OnEngagementsPageChange="HandlePageChangeAsync" />
        }
    </div>
</div>

<!-- Add Engagement Modal -->
<AddEngagementModal @bind-IsVisible="showAddEngagementModal" 
                    OnEngagementCreated="OnEngagementCreated" />