@namespace EastSeat.ResourceIdea.Web.Areas.Identity.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>ResourceIdea - @ViewData["Title"]</title>
</head>
<body>
    <div class="page">
        <div class="sidebar">
            <nav class="navbar bg-dark border-bottom border-body text-light">
                <div class="container-fluid">
                    <a class="navbar-brand mb-0 h1 text-light" href="/">ResourceIdea</a>
                </div>
            </nav>
        </div>

        <main>
            <div class="top-row px-4">

            </div>

            <article class="content px-4">
                @RenderBody()
            </article>
        </main>
    </div>
</body>
</html>