@page "/identity/account/login"
@model EastSeat.ResourceIdea.Web.Areas.Identity.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="offset-2 col-md-4">
        <div class="card">
            <div class="card-header">
                <h3>@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <form method="post" id="account">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="mb-3">
                        <label asp-for="Input.Email" class="form-label">Username</label>
                        <input asp-for="Input.Email" type="email" class="form-control" placeholder="Email address">
                        <span asp-validation-for="Input.Email" class="text-danger" />
                    </div>

                    <div class="mb-3">
                        <label asp-for="Input.Password" class="form-label">Password</label>
                        <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password">
                        <span asp-validation-for="Input.Password" class="text-danger" />
                    </div>

                    <input type="submit" class="btn btn-primary" value="Login" />

                </form>
            </div>
            <div class="card-footer">
                <a href="" class="btn btn-link">Forgot Password?</a>
            </div>
        </div>
    </div>
</div>