# This workflow builds the .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    name: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET 9
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"

      - name: Restore dependencies
        run: dotnet restore ./ResourceIdea.slnx

      - name: Clean
        run: dotnet clean ./ResourceIdea.slnx

      - name: Build
        run: dotnet build ./ResourceIdea.slnx -v detailed --no-restore --configuration Release --framework net9.0 -maxcpucount:1
