# This workflow builds the .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    env:
      SOLUTION_FILE: EastSeat.ResourceIdea.slnx
    steps:
      - uses: actions/checkout@v4

      - name: Cache NuGet
        uses: actions/cache@v4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: Setup .NET 9
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"

      - name: Generate .sln from XML manifest
        run: pwsh -NoLogo -NoProfile -File ./tools/Generate-Solution.ps1 -XmlManifest ${{ env.SOLUTION_FILE }} -OutputSln EastSeat.ResourceIdea.sln
      - name: Restore dependencies
        run: dotnet restore ./EastSeat.ResourceIdea.sln

      - name: Clean
        run: dotnet clean ./EastSeat.ResourceIdea.sln

      - name: Build (Release)
        run: dotnet build ./EastSeat.ResourceIdea.sln --configuration Release --no-restore --framework net9.0 -maxcpucount:1

      - name: Verify (Basic)
        run: dotnet build ./EastSeat.ResourceIdea.sln --configuration Debug --no-restore --framework net9.0 -maxcpucount:1
