# This workflow runs tests for the .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    env:
      RESOURCEIDEA_CONNECTION_STRING: ${{ secrets.RESOURCEIDEA_CONNECTION_STRING }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET 9
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"

      - name: Restore dependencies
        run: dotnet restore ./ResourceIdea.slnx

      - name: Build
        run: dotnet build ./ResourceIdea.slnx --no-restore --configuration Release --framework net9.0 -maxcpucount:1

      - name: Run tests
        run: dotnet test ./ResourceIdea.slnx --no-build --verbosity normal
